In [2]:
import pandas as pd

pd.__version__

'1.3.5'

In [3]:
pd?

In [4]:
import numpy as np

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [6]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [9]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data[1]

0.5

In [11]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.], index=['a', 'b', 'c', 'd'])

In [14]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
data['b']

0.5

In [16]:
population_dict = {'California' : 388332521,
                  'Texas' : 26448193,
                  'New York' : 18523212,
                  'Florida' : 19552860,
                  'Illinois': 12662214}

population = pd.Series(population_dict)
population

California    388332521
Texas          26448193
New York       18523212
Florida        19552860
Illinois       12662214
dtype: int64

In [17]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [18]:
population['California': 'Illinois']

California    388332521
Texas          26448193
New York       18523212
Florida        19552860
Illinois       12662214
dtype: int64

In [19]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}

In [20]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [21]:
states = pd.DataFrame({'population': population,
                      'area': area})

In [22]:
states

            population    area
California   388332521  423967
Texas         26448193  695662
New York      18523212  141297
Florida       19552860  170312
Illinois      12662214  149995

In [23]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [24]:
states.columns

Index(['population', 'area'], dtype='object')

In [25]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [26]:
data[0]

0.25

In [28]:
pd.DataFrame(population, columns=['population'])

            population
California   388332521
Texas         26448193
New York      18523212
Florida       19552860
Illinois      12662214

In [29]:
data = [{'a': i, 'b': 2*i} for i in range(3)]

In [30]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [31]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])

In [33]:
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [34]:
ind[1]

3

In [35]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [36]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [37]:
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [38]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [39]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [40]:
indA & indB

C:\Users\shshin\AppData\Local\Temp\ipykernel_1372\144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [41]:
indA | indB

C:\Users\shshin\AppData\Local\Temp\ipykernel_1372\3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [43]:
indA ^ indB # 대칭 차 (두 집합의 상대 여집합의 합)

C:\Users\shshin\AppData\Local\Temp\ipykernel_1372\870356738.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  indA ^ indB # 대칭 차 (두 집합의 상대 여집합의 합)

Int64Index([1, 2, 9, 11], dtype='int64')

In [44]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')